# python bytecode
__pycache__/
*.py[cod]

#cython files
*.cpython-*.pyc
*.so

# env configs
.vscode/
.idea/

# virtual env
venv/
.env/

# system files
.DS_Store
Thumbs.db

# temporary date and  excetuion results
*.log
*.tmp

